.coin-desc {
  flex: 0.5;
}
.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}
.coin-desc-link h2 {
  font-weight: 700;
}
.coin-desc-link h3 {
  font-weight: 700;
}
.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}
.coin-detail-container {
  margin: 30px;
}
.coin-details-heading {
  font-weight: 700;
  margin-top: 20px;
}
.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}
.coin-heading-container .coin-name {
  font-weight: 900;
}
.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.coin-link a {
  font-weight: 700;
  font-size: 1rem;
}
.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}
.coin-stats {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}
.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}
.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}
.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}
.stats {
  font-weight: 800;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .coin-detail-container {
    margin: 0;
  }
  .coin-links {
    padding: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}
